@import url('https://fonts.cdnfonts.com/css/jumbotron');
@import url('https://fonts.cdnfonts.com/css/bhlingglers');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/tree-ghost');
@import url('https://fonts.cdnfonts.com/css/rebornes');
@import url('https://fonts.cdnfonts.com/css/br-shape');
@import url('https://fonts.cdnfonts.com/css/asimplelife');
@import url('https://fonts.cdnfonts.com/css/abellaice');
@import url('https://fonts.cdnfonts.com/css/badonk-a-donk');
@import url('https://fonts.cdnfonts.com/css/mollen-crispy');
@import url('https://fonts.cdnfonts.com/css/brokeren-miring');